
.venv
.DS_Store
__pycache__

config.yaml
classifiers/use_case.yaml
test-datasets/*
synthesised-datasets/*
eval_results

tests

classifiers/augmented_dataset/*
classifiers/evaluation_results/*
lightning_logs/*
extra_log/*

docs/

archive/
config_old.yaml
main_old.py
evaluation_old.py